.logindiv{
    
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    /* background-color: red; */
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -25px 0 0 -25px;

}


.inputfield{
    width: 233px;
    height: 29px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 9px;
}



.fieldbutton{
    width: 240px;
    height: 40px;
    background: bleu;
    background: #9e9e9e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}