.marker-btn{
    background-color: #fffffff5;
    border-radius: 11PX;
    font-size: 12PX;
}

.legend{
    background: #ffffff;
    width: 155px;
    height: 81%;
    margin-top: 44px;
    margin-left: 225px;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: column;
    overflow-y: scroll;
    padding-left: 16px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    flex-direction: row;
    }


.searchp{
    position: absolute;
    width: 25rem;
    height: 35px;
    margin: 15px 136px 6px;
    align-items: center;
    z-index: 10;
    right: 0;

}
    