.marker-btn{
    background-color: #fffffff5;
    border-radius: 11PX;
    font-size: 12PX;
}

.legend{
    background: #ffffff;
    width: 155px;
    height: 400px;
    margin-left: 25px;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 16px;
    bottom: 40px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    flex-direction: row;
    }

.searchp{
    position: absolute;
    width: 25rem;
    height: 35px;
    margin: 15px 136px 6px;
    align-items: center;
    z-index: 10;
    right: 0;
}


.geocoder-dropdown-item {
padding: 5px;
}
.geocoder-dropdown-icon {
margin-right: 10px;
}
.geocoder-dropdown-text {
color: #5a3fc0;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
}



.mapboxgl-ctrl-top-left{
    left: 35%;
    display: flex;
    position: fixed;
}

.mapboxgl-ctrl{
    width: 55rem !important;
    display: flex !important;
   
}


.mapboxgl-ctrl-geocoder--input {
    font-size: 15px !important;
  }



  .zonedetailpopup{
    background-color: white;
    z-index: 10;
    width: 30%;
    height: 100vh;
    position: absolute;
    right: 0;
  }


  .close {
    color: #b1afafbf;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }

  .popupbutton{
    background: #ffffff;
    margin-left: 22px;
    z-index: 10;
    position: absolute;
    align-items: left;
    bottom: 40px;
    right: 10;
    right: 25px;
    width: 153px;
    font-size: 20px;
    border: none;
    padding: 9px;
    border-radius: 10px;
    transition-duration: 0.4s;
  }


  .popupbutton:hover {
    background-color: #3585e9; 
    color: white;
  }

  .tabbtn{
    font-size: 14px;
    margin: 5px;
    background: white;
    border: none;
    width: 7rem;
    height: 35px;
    color: gray;
    cursor: pointer;
    transition: 0.5s;

  }

  .tabbtn:hover{
      color: #4d66cb;
      border: 1px solid #4d66cb;
      border-radius: 3px;
  }


  .bottombtn{
    bottom: 20px;
    display: flex;
    margin: 20px;
}
    
  


  .bottom_tabbtn{
    font-size: 14px;
    margin: 5px;
    background: #4d66cb;
    width: 10rem;
    height: 41px;
    color: white;
    border: none;
    border-radius: 7px;
  }



  .zonesdetial_list{
    margin: 20px;
    height: 450px;
    overflow: auto;
  }


  .linepopup{
    border: solid gray;
    border: none;
    height: 1px;
    /* color: #333; */
    background-color: #9e9e9e42;
  }


  .tabscontainer{
    margin: 20px;
  }


  .top_address{
    margin: 20px;
    color: #4d66cb;
  }


  .linemargin{
    margin-top: 50px
  }


  .zoneslist{
     list-style: none;
     font-weight: bold;
  }


  .zonecode_list{
    overflow-y: auto;
    /* margin: 10px; */
    margin-top: 70px;
  }



  .legend_heading{
    display: flex;
    margin-left: 15px;
    font-size: 16px;
    color: #4d66cb;
    position: fixed;
  }


    