.marker-btn{
    background-color: #fffffff5;
    border-radius: 11PX;
    font-size: 12PX;
}

.legend{
    background: #ffffff;
    width: 155px;
    height: 400px;
    margin-left: 25px;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: column;
    overflow-y: auto;
    padding-left: 16px;
    bottom: 40px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    flex-direction: row;
    }

.searchp{
    position: absolute;
    width: 25rem;
    height: 35px;
    margin: 15px 136px 6px;
    align-items: center;
    z-index: 10;
    right: 0;
}


.geocoder-dropdown-item {
padding: 5px;
}
.geocoder-dropdown-icon {
margin-right: 10px;
}
.geocoder-dropdown-text {
color: #5a3fc0;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
}



.mapboxgl-ctrl-top-left{
    left: 35%;
    display: flex;
    position: fixed;
}

.mapboxgl-ctrl{
    width: 55rem !important;
    display: flex !important;
   
}


.mapboxgl-ctrl-geocoder--input {
    font-size: 15px !important;
  }



  .zonedetailpopup{
    background-color: #ffffff;
    z-index: 10;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    position: absolute;
    top:35%;
    left:30%;
    margin:-50px 0 0 -100px;
  }


  .close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-top: -25px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .popupbutton{
    background: #ffffff;
    margin-left: 22px;
    z-index: 10;
    position: absolute;
    align-items: left;
    bottom: 40px;
    right: 10;
    right: 25px;
    width: 153px;
    font-size: 20px;
    border: none;
    padding: 9px;
    border-radius: 10px;
  }




    